.Popover {
  z-index: 900;

  .Popover-body {
    display: inline-flex;
    flex-direction: column;
    background: $darkBackgroundColor;
    color: $darkForegroundColor;
    border-radius: 0.3rem;
  }

  .Popover-tipShape {
    fill: $darkBackgroundColor;
  }

  .dialog {
    max-width: 400px;
    .header {
      color: $darkHighlightColor;
      margin: 1rem 2rem .5rem 2rem;
      font-size: 1rem;
      font-weight: bold;
    }

    .body {
      display: flex;
      flex-direction: column;
      font-size: .8rem;
      margin: .5rem 2rem 1rem 2rem;


      label {
        font-size: .8rem;
        font-weight: bold;
        flex: 1 1 auto;
        margin-bottom: .3rem;
      }

      input {
        font-size: .8rem;
        color: $darkForegroundColor;
        flex: 1 1 auto;
        background: $darkSecondBackgroundColor;
        border: 1px solid $darkDividerColor;
        padding: .3rem;

        &::selection {
          background: $darkHighlightColor;
        }

        &:focus {
          border: 1px solid $darkHighlightColor;
          outline: none;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      margin: .5rem .3rem .3rem .3rem;

      button {
        padding: .4rem;
        font-size: 14px;
        color: $darkForegroundColor;
        flex: 1 1 auto;
        margin-right: 1px;
        background: $darkSecondBackgroundColor;
      }

      button:first-child {
        border-radius: 0 0 0 0.3rem;
      }

      button:last-child {
        border-radius: 0 0 0.3rem 0;
        margin-right: 0;
      }

      button:hover {
        background: $darkHighlightColor;
        color: black;
      }
    }
  }

  .dialog.configuration {
    input {
      width: 260px;
    }

    .header {
      margin-bottom: 1rem;
    }

    .buttons {
      margin-top: 2rem;
    }
  }
}

