$tabBorderColor: $dividerColor;
$activeTabHighlightColor: $highlightColor;
$activeTabBackgroundColor: $backgroundColor;
$inactiveTabBackgroundColor: $secondBackgroundColor;

.tabs {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $tabBorderColor;
  margin: 0;
  background: $inactiveTabBackgroundColor;
  text-align: right;

  .tab, .action {
    text-align: left;
    display: inline-block;
    position: relative;
    bottom: -1px;
    margin-top: -1px;
    cursor: pointer;
    user-select: none;
    padding: .3rem 1rem;
  }

  .tab {
    position: relative;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 3px 3px 0 0;

    button {
      opacity: 0;
      font-size: 13px;
      position: absolute;
      top: 0;
      padding: 0 8px 0 8px;
      height: 100%;
      z-index: 100;
      transition: opacity .3s cubic-bezier(0.65, 0.05, 0.36, 1);

      &.close {
        background: linear-gradient(
                        to right,
                        rgba($activeTabBackgroundColor, 0) 0%,
                        rgba($activeTabBackgroundColor, 1) 20%,
                        rgba($activeTabBackgroundColor, 1) 100%
        );
        right: 0;
      }

      &.configure {
        background: linear-gradient(
                        to left,
                        rgba($activeTabBackgroundColor, 0) 0%,
                        rgba($activeTabBackgroundColor, 1) 20%,
                        rgba($activeTabBackgroundColor, 1) 100%
        );
        left: 0;
      }
    }
  }

  .action:hover {
    color: $activeTabHighlightColor;
  }

  .tab.active {
    border: 1px solid $tabBorderColor;
    border-bottom: 1px solid transparent;
    border-top: 3px solid $activeTabHighlightColor;
    background: $activeTabBackgroundColor;

    &:hover {
      button {
        opacity: 1;
      }

      button:hover {
        color: $activeTabHighlightColor;
      }
    }
  }
}