$tabBorderColor: #C3C1C3;
$activeTabHighlightColor: goldenrod;
$activeTabBackgroundColor: #ffffff;
$inactiveTabBackgroundColor: #f5f5f5;

.tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $tabBorderColor;
  margin: 0;
  background: $inactiveTabBackgroundColor;
  text-align: right;
  height: 41px;

  .tab {
    text-align: left;
    display: inline-block;
    position: relative;
    bottom: -1px;
    margin-top: -1px;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    padding: .3rem .8rem;
    cursor: pointer;
    user-select: none;
  }

  .tab.active {
    border: 1px solid $tabBorderColor;
    border-bottom: 1px solid transparent;
    border-top: 3px solid $activeTabHighlightColor;
    background: $activeTabBackgroundColor;
  }
}