@import "reset";
@import "open-sans";
@import "emoji-fix";

@import "../node_modules/simplemde/dist/simplemde.min";

@import "tabs";
@import "editor";

body {
  font-family: "emoji fix", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

