$backgroundColor: white;
$foregroundColor: black;
$highlightColor: goldenrod;
$secondBackgroundColor: #f5f5f5;
$dividerColor: #C3C1C3;

$darkHighlightColor: $highlightColor;
$darkBackgroundColor: hsl(0, 0%, 27%);
$darkForegroundColor: white;
$darkSecondBackgroundColor: hsl(0, 0%, 37%);
$darkDividerColor: #7B7B7B;

@import "reset";
@import "open-sans";
@import "emoji-fix";
@import "../node_modules/simplemde/dist/simplemde.min";

$fa-font-path: "../Fonts/FontAwesome";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "popover";
@import "tabs";
@import "editor";

body {
  font-family: "emoji fix", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

